	/*==CSS样式开始==*/
			/*==顶部信息==*/
		.topreg{float:left;}
		.topreg a:link{color:#029CFC;},.topreg a:visited{color:#029CFC;}
		.topreg span{color:#8E8E8E;}
		.topinfo{float:right; color:#AFAFAF;}
		
				/*==全局样式==*/
		body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,table,p,th,td,img{margin:0px; padding:0px;}
		body { width:100%; font:normal 12px/1.5 "微软雅黑","Microsoft Sans Serif", Verdana,Tahoma,simsun, Lucida, Arial; background-color:#fff; color:#000;}
		ol,ul {list-style:none;}
		input,select,form img,button {vertical-align:middle; }
		input{ font-size:12px;}
		img {border:0;}
		h1,h2,h3,h4,h5,h6 {font-size:100%;}
		em,i{font-style:normal;}
		a:link{text-decoration:none; color:#737373;}
		a:visited{text-decoration:none; color:#737373;}
		a:hover{text-decoration:underline;}
		.clear {clear:both; *display:inline;/*IE only*/}
				/*＝＝导航栏样式＝＝*/	
		.nav2{background:url(../images/navbg.gif) repeat-x left top;}
		.nav{background:url(../images/navybg.gif) repeat-x left top;}
		.navlist{width:80%; margin:0px auto;}
		.navlist ul{float:left;}
		.navlist li{float:left; height:40px; display:inline; margin-right:5px;}
		.navlist li a{display:inline-block; color:#FFFFFF; font-weight:bold; height:50px; line-height:40px; padding:0px 16px;}
		.navlist li a:visited{color:#FFFFFF;}
		.navlist li a.navslt,.navlist li a:hover{background:url(../images/sltbg.gif) repeat-x left top; text-decoration:none;}
		.navlist2 li a.navslt,.navlist2 li a:hover{background:url(../images/sltybg.gif) repeat-x left top;}
		/*==我的账户/购物车样式==*/
		.goodscart{float:right; height:50px;position:absolute;left:80%; color:#FFFFFF; padding:0px 10px; background:url(../images/hbg.gif) repeat-x left top;}
		.goodscart p{background:url(../images/hiconbg.gif) no-repeat left center; line-height:38px; padding-left:20px;}
		.goodscart a,.goodscart a:visited{color:#FFFFFF;}
		.goodscart span{margin-left:40px;}
		.goodscart span a,.goodscart span a:visited{color:#FF9700; font-weight:bold;} 
		/*==当前位置==*/
		.location,.sortpic{position:absolute; left:9%; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}		
		.place{width:822px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.place span{float:left; margin-right:6px;font-weight:normal; background:url(../images/iconbg.gif) no-repeat 8px 8px; text-indent:34px; color:#737373;}
		.place span a,.place span a:visited{color:#737373; background:url(../images/iconbg.gif) no-repeat left -66px; padding-left:20px;}	
		/*==搜索文本框样式==*/
		.searchform{float:left; width:317px; height:27px; background-image:url(../images/searchbg.gif); margin-top:5px; margin-left: 20px;}
		input.tbkey{width:216px;color:#999; height:25px; line-height:25px; border:0; margin-left:28px; margin-right:6px; background:url(../images/srchbtnbg.gif) repeat-x left top;}
		input.btnsearch{width:65px; height:23px; border:0; font-size:14px; font-weight:bold; color:#FFFFFF; cursor:pointer; background:url(../images/search.gif); text-indent:-299px;
		.grade_search{float:left; padding-top:28px; color:#737373;}
		a.grade,a.grade:visited{color:#000000; margin-right:26px; margin-left:5px;}
		/*==图片轮播布局==*/
		#lunbo {margin:5px auto;text-align:center; background:#FFFFFF;}
		img {margin:0; border:0; padding:0; }
		#eLore {position:relative;margin:0 auto;width:820px; height:300px;}
		#eLore_wrap {position:relative; margin:0 auto;overflow:hidden;width:820px; height:300px;background:#300;z-index:5;}
		#eLore .eLore_img {position:absolute; top:0;overflow:hidden;}
		#eLore .eLore_out {position:absolute;right:0; top:0;overflow:hidden;}
		.loading{width:820px;border:0px solid;background-color:#000000;color:#FFCC00;font-size:20px;height:179px;text-align:center;padding-top:30px;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;}
		/*==首页==*/
		.sy2,.sortpic{position:absolute; left:9%;top:500px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		/*==商品分类==*/
		.sp{width:930px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.sp,.sortpic{position:absolute; left:9%;width:198px;height:450px; top:538px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		.menustyle{height:32px; position:relative; margin-top:5px;}
		.menustyle h2{position:absolute; left:-12px; width:230px; height:32px; line-height:24px; color:#FFFFFF; font-size:14px; background-image:url(../images/menubg.gif); text-indent:20px; z-index:99;}
		.prod_sort dl dt{clear:both; height:10px; background-color:#EAEAEA; margin:0px; color:#000000; font-weight:bold; text-indent:10px;}
		.prod_sort dl dd{float:left; width:40px; padding-left:0px; height:20px; line-height:20px; margin-left:20px; text-indent:0px; overflow:hidden; display:inline; background:url(../images/point.gif) no-repeat 0px 9px;}
		.prod_sort dl dd a,.prod_sort dl dd a:visited{color:#000000;}
		/*==今日新品==*/
		.xp{width:930px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.xp,.sortpic{position:absolute; left:28.6%;width:625px;height:290px; top:538px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		.newprod_menu{height:38px; line-height:38px; position:relative;}
		.newprod_menu h3{float:left; padding-left:24px; font-size:14px; font-weight:bold;}
		.newprod_menu h3 label{margin-left:60px; font-weight:normal; font-size:12px; color:#727272;}
		.newprodbg{position:absolute; background:url(../images/barbg.gif) no-repeat left top; width:624px; z-index:100;}
		.scroll_lt,.scroll_rt{float:left; padding:100px 10px 0px;}
		.scroll_lt a,.scroll_rt a{display:block; width:30px; height:100px;}
		.scroll_lt a{background:url(../images/scrollbgn.gif) no-repeat left top;}
		.scroll_rt a{background:url(../images/scrollbgn.gif) no-repeat right top;}
		.scroll_ct{float:left; width:620px; height:200px; overflow:hidden;}
		.scroll_ct ul{float:left;}
		.scroll_ct ul li{float:left; width:100px; height:200px; margin:5px 12px; display:inline;}
		.scroll_ct ul li a:visited,ul.todayprice li a:visited,.place h1 a:visited{color:#737373;}
		.scroll_ct ul li h3{display:table-cell; text-align:center; vertical-align:middle; *display:block; *font-size:119px; width:100px; height:136px; margin-bottom:8px; overflow:hidden;}
		.scroll_ct ul li h3 img{max-width:100px; max-height:136px; vertical-align:middle; _width:expression(this.width>100&&this.width>=this.height?100:true); _height:expression(this.height>136&&this.height>=this.width?136:true);}
		
		.scroll_ct li span,.todayprice li span{font-weight:bold; color:#000000;}
		.scroll_ct li em,.todayprice li em{color:#E00101;}
		.scroll_ct ul li p{width:100px; height:28px; overflow:hidden;}
		
		/*==精品推荐==*/
		.jp{width:930px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.jp,.sortpic{position:absolute; left:28.6%;width:625px;height:290px; top:825px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		.menunav_bar{margin-left:14px;}
		.menunav_bar a{display:inline-block; width:90px; height:25px; line-height:25px; text-align:center; background-color:#BEBEBE; margin-right:1px; color:#2B2E31;}
		.menunav_bar a.sltmenubg{background-color:#EDEDED; border:#A5A5A5 1px solid; border-bottom:none; font-weight:bold; color:#2B2E31;}
		.menunav_bar a:hover{text-decoration:none;}
		.chgmenubg{background-color:#EDEDED; height:173px;}
		ul.chgmenu{margin-left:14px; padding:8px 0px 14px;}
		ul.chgmenu li{line-height:25px; background:url(../images/point.gif) no-repeat left center; padding-left:8px; margin-right:6px; width:194px; white-space:nowrap; text-overflow:}
		/*==商品快播==*/		
		.kb{width:930px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.kb,.sortpic{position:absolute; left:9%;width:198px;height:180px; top:1115px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		.kbtyle{height:32px; position:relative; margin-top:5px;}
		.kbtyle h2{position:absolute; left:-12px; width:230px; height:32px; line-height:24px; color:#FFFFFF; font-size:14px; background-image:url(../images/menubg.gif); text-indent:20px; z-index:99;}
		#tabs0{height: 150px; width:100px; border: 1px solid #cbcbcb; background-color: #EDEDED;}
		.menu0{width: 193px;}
		.menu0 li{ display:block; float: left; padding: 0px; width:96px; text-align: center; cursor:pointer; background: #bebebe;} 
		.menu0 li.hover{ background: #EDEDED;} 
		#main0 ul{display: none;} 
		#main0 ul.block{display: block;}
		/*==人气热卖==*/
		.rq{width:930px; border-left:#D0D0D0 1px solid; border-right:#D0D0D0 1px solid; margin:0px auto; height:37px; line-height:37px;}
		.rq,.sortpic{position:absolute; left:28.6%;width:625px;height:190px; top:1115px; border-top:#D0D0D0 1px solid; border-bottom:#D0D0D0 1px solid;}
		/*==广告图==*/
		.gg{width:930px; border-left:#D0D0D0 0px solid; border-right:#D0D0D0 0px solid; margin:0px auto; height:37px; line-height:37px;}
		.gg,.sortpic{position:absolute; left:4%;width:950px;height:130px; top:1303px; border-top:#D0D0D0 0px solid; border-bottom:#D0D0D0 0px solid;}
		/*底部样式*/		
		.dbtyle{height:32px; position:relative; margin-top:5px;}
		.dbtyle{position:absolute; left:-12px; width:860px; height:151px; line-height:24px; color:#FFFFFF; font-size:14px; background-image:url(../images/db.jpg); text-indent:20px; z-index:99;}