<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddUserServlef</servlet-name>
  <servlet-class>com.servlet.AddUserServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LoginServlef</servlet-name>
  <servlet-class>com.servlet.LoginServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdateUserServlet</servlet-name>
  <servlet-class>com.servlet.UpdateUserServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdateAddrServlet</servlet-name>
  <servlet-class>com.servlet.UpdateAddrServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdatePwdServlet</servlet-name>
  <servlet-class>com.servlet.UpdatePwdServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateUserServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateUserServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteUser</servlet-name>
  <servlet-class>com.servlet.Admin_deleteUser</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateYeServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateYeServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateYe2Servlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateYe2Servlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateZt</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateZt</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateZt2</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateZt2</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_AddUserServlef</servlet-name>
  <servlet-class>com.servlet.Admin_AddUserServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateAdminServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateAdminServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteAdminUser</servlet-name>
  <servlet-class>com.servlet.Admin_deleteAdminUser</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_LoginServlef</servlet-name>
  <servlet-class>com.servlet.Admin_LoginServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UserZxServlet</servlet-name>
  <servlet-class>com.servlet.UserZxServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UserZxServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UserZxServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_AddNewsServlef</servlet-name>
  <servlet-class>com.servlet.Admin_AddNewsServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateNewsServlef</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateNewsServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteNews</servlet-name>
  <servlet-class>com.servlet.Admin_deleteNews</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateSiteServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateSiteServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateLogoImgServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateLogoImgServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_AddSortServlef</servlet-name>
  <servlet-class>com.servlet.Admin_AddSortServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateSortServlef</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateSortServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteSort</servlet-name>
  <servlet-class>com.servlet.Admin_deleteSort</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_AddLunboImgServlef</servlet-name>
  <servlet-class>com.servlet.Admin_AddLunboImgServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateLunboImgServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateLunboImgServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteLunbo</servlet-name>
  <servlet-class>com.servlet.Admin_deleteLunbo</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_AddGoodsServlef</servlet-name>
  <servlet-class>com.servlet.Admin_AddGoodsServlef</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_UpdateGoodsServlet</servlet-name>
  <servlet-class>com.servlet.Admin_UpdateGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Admin_deleteGoods</servlet-name>
  <servlet-class>com.servlet.Admin_deleteGoods</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderServlef</servlet-name>
    <servlet-class>com.servlet.AddOrderServlef</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateOrderZtServlet</servlet-name>
    <servlet-class>com.servlet.UpdateOrderZtServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Admin_UpdateOrderServlet</servlet-name>
    <servlet-class>com.servlet.Admin_UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Admin_deleteOrder</servlet-name>
    <servlet-class>com.servlet.Admin_deleteOrder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCommentServlef</servlet-name>
    <servlet-class>com.servlet.AddCommentServlef</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Admin_deleteComment</servlet-name>
    <servlet-class>com.servlet.Admin_deleteComment</servlet-class>
  </servlet>






 <servlet-mapping>
  <servlet-name>AddUserServlef</servlet-name>
  <url-pattern>/servlet/AddUserServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginServlef</servlet-name>
  <url-pattern>/servlet/LoginServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateUserServlet</servlet-name>
  <url-pattern>/servlet/UpdateUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateAddrServlet</servlet-name>
  <url-pattern>/servlet/UpdateAddrServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdatePwdServlet</servlet-name>
  <url-pattern>/servlet/UpdatePwdServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateUserServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteUser</servlet-name>
  <url-pattern>/servlet/Admin_deleteUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateYeServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateYeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateYe2Servlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateYe2Servlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateZt</servlet-name>
  <url-pattern>/servlet/Admin_UpdateZt</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateZt2</servlet-name>
  <url-pattern>/servlet/Admin_UpdateZt2</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_AddUserServlef</servlet-name>
  <url-pattern>/servlet/Admin_AddUserServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateAdminServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateAdminServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteAdminUser</servlet-name>
  <url-pattern>/servlet/Admin_deleteAdminUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_LoginServlef</servlet-name>
  <url-pattern>/servlet/Admin_LoginServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserZxServlet</servlet-name>
  <url-pattern>/servlet/UserZxServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UserZxServlet</servlet-name>
  <url-pattern>/servlet/Admin_UserZxServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_AddNewsServlef</servlet-name>
  <url-pattern>/servlet/Admin_AddNewsServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateNewsServlef</servlet-name>
  <url-pattern>/servlet/Admin_UpdateNewsServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteNews</servlet-name>
  <url-pattern>/servlet/Admin_deleteNews</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateSiteServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateSiteServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateLogoImgServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateLogoImgServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_AddSortServlef</servlet-name>
  <url-pattern>/servlet/Admin_AddSortServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateSortServlef</servlet-name>
  <url-pattern>/servlet/Admin_UpdateSortServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteSort</servlet-name>
  <url-pattern>/servlet/Admin_deleteSort</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_AddLunboImgServlef</servlet-name>
  <url-pattern>/servlet/Admin_AddLunboImgServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateLunboImgServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateLunboImgServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteLunbo</servlet-name>
  <url-pattern>/servlet/Admin_deleteLunbo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_AddGoodsServlef</servlet-name>
  <url-pattern>/servlet/Admin_AddGoodsServlef</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_UpdateGoodsServlet</servlet-name>
  <url-pattern>/servlet/Admin_UpdateGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin_deleteGoods</servlet-name>
  <url-pattern>/servlet/Admin_deleteGoods</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlef</servlet-name>
    <url-pattern>/servlet/AddOrderServlef</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderZtServlet</servlet-name>
    <url-pattern>/servlet/UpdateOrderZtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_UpdateOrderServlet</servlet-name>
    <url-pattern>/servlet/Admin_UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_deleteOrder</servlet-name>
    <url-pattern>/servlet/Admin_deleteOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlef</servlet-name>
    <url-pattern>/servlet/AddCommentServlef</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_deleteComment</servlet-name>
    <url-pattern>/servlet/Admin_deleteComment</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
